langchain
transformers
faiss-cpu
sentence-transformers
flask       # optional: for building a web interface
streamlit   # optional: if you want a quick UI for your chatbot
langchain-community
langchain_huggingface
